.empty {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

.gridTableContainer{
    height: 100%;

    .gridSaveDiscardContainer {
        height: 47px;
        text-align: right;
        width: 100%;
        padding: 15px 15px 0 15px;

        .buttonClass {
            float: right;
            margin: 0 5px;

            &.exportButton{
                float: left;
                margin: 0;
            }

            &.saveButton{
                margin-right: 0;
            }
        }


    }

    .gridTableContainerWrapper {
        width: auto;
        height: calc(100% - 30px - 47px);
        background: #fcfcfc;
        margin: 15px;
        border: 1px solid #eaeaea;
        overflow: auto;

        .gridTableContainer {
            padding: 10px;
            display: inline-block;
            float: left;

            .gridTableHeader {
                th {
                    min-width: 150px;
                    border: 1px solid #eee;
                    padding: 5px 10px;
                    /*position: relative;*/
                    background: #fafafa;
                    font-weight: 500;
                    text-align: center;
                }

                .gridViewHeaderWrapper {
                    overflow: hidden;

                    .gridViewHeaderText {
                        width: calc(100% - 40px);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        float: left;
                    }

                    &:hover {
                        .gridViewHeaderMoveRight, .gridViewHeaderMoveLeft {
                            opacity: .5;
                        }
                    }
                }
            }

            .gridTableBody {

                tr {
                    background-color: #fff;

                    &.dirty {
                        background-color: #fdf9ce;
                    }
                }

                td {
                    min-width: 150px;
                    border: 1px solid #eee;
                    padding: 5px 10px;
                    /*position: relative;*/
                }

                .tableFixedColumn {
                    max-width: 250px;
                }

                .tableRow{

                    .tableCellInput{
                        border: none;
                        border-bottom: 1px solid #80808091;
                        outline: none;
                        transition: all ease 0.2s;
                        &:focus{
                            border-bottom: 1px solid #000;
                        }
                        &:hover{
                            border-bottom: 1px solid #000;
                        }
                    }
                }

            }
        }
    }
}

.gridPDFViewWrapper {
    max-height: 500px;
    width: auto;
    overflow: auto;
    min-height: 150px;
    min-width: 200px;

    .pdfViewerContainer {
        float: left;
        height: 100%;
        width: 100%;
        position: unset;
    }
}