.extractionDetailsContainer{
    height: 100%;

    .emptyExtractionDetailView {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .extractionButtonContainer{
        height: 47px;
        width: 100%;
        padding: 15px 15px 0 15px;
        text-align: right;

        .buttonClass {
            float: right;
            margin: 0 5px;

            &.exportSingleButton{
                float: left;
                margin-left: 0;
            }
            &.exportAllButton{
                float: left;
            }

            &.saveButton{
                margin-right: 0;
            }
        }
    }

    .extractionDetailViewBodyContainer{
        width: auto;
        height: calc(100% - 30px - 47px);
        background: #fcfcfc;
        margin: 15px;
        border: 1px solid #eaeaea;
        overflow: auto;

        .extractionListViewPanel{
            height: 100%;
            width: 30%;
            overflow: auto;
            float: left;
            border-right: 1px solid #eaeaea;
            position: relative;

            .emptyExtractionListPanel {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
        }

        .extractionPdfViewContainer{
            height: 100%;
            width: 70%;
            float: left;
            overflow: auto;
        }
    }
}