.pdfUploadContainer{
    position: absolute;
    bottom: 15px;
    left: 15px;

    .pdfUploadAntBtn{
        position: relative;

        .pdfUploadInput{
            width: 100%;
            height: 100%;
            opacity: 0;
            background: transparent;
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}